<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bha ......</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/navbar.css')}}">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={{ url_for('home') }}>Back to Home</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class={{ context["dataexploration_head"] }}>
              <a href="#" class={{ context["wataexploration"] }} data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Exploration <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href={{ url_for('show_text', key='info', type='train', returnpage='_datae.html') }}>Info on Train dataframe</a></li>
                <li><a href={{ url_for('show_text', key='dtypes', type='train', returnpage='_datae.html') }}>Dtypes on Train dataframe</a></li>
                <li><a href={{ url_for('show_describe', key='describe', type='train', returnpage='_datae.html') }}>Describe on Train dataframe</a></li>
                <li role="separator" class="divider"></li>
                <li><a href={{ url_for('show_text', key='info', type='test', returnpage='_datae.html') }}>Info on Test dataframe</a></li>
                <li><a href={{ url_for('show_text', key='dtypes', type='test', returnpage='_datae.html') }}>Dtypes on Test dataframe</a></li>
                <li><a href={{ url_for('show_describe', key='describe', type='test', returnpage='_datae.html') }}>Describe on Test dataframe</a></li>
                <li role="separator" class="divider"></li>
                <li><a href={{ url_for('column_list', type='full', returnpage='_datae.html') }}>Column List [FULL]</a></li>
                <li><a href={{ url_for('column_list', type='train', returnpage='_datae.html') }}>Column List [TRAIN]</a></li>
                <li><a href={{ url_for('column_list', type='test', returnpage='_datae.html') }}>Column List [TEST]</a></li>
                <li role="separator" class="divider"></li>
                <li><a href={{ url_for('load_dictionaries', type='full', returnpage='_datae.html') }}>Upload Dictionaries</a></li>
              </ul>
            </li>
            <li class={{ context["fileoutput_head"] }}>
              <a href="#" class={{ context["fileoutput"] }} data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File Output <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href={{ url_for('list_output', jolly='all', returnpage='_datae.html') }}>All Files by Session</a></li>
                <li><a href={{ url_for('list_output', jolly='general_config', returnpage='_datae.html') }}>General Config by Session</a></li>
                <li><a href={{ url_for('list_output', jolly='dict', returnpage='_datae.html') }}>Dictionary Files by Session</a></li>
                <li><a href={{ url_for('list_output', jolly='plot', returnpage='_datae.html') }}>Plots by Session</a></li>
                <li><a href={{ url_for('list_output', jolly='info', returnpage='_datae.html') }}>Dataframe Info by Session</a></li>
                <li role="separator" class="divider"></li>
                <li><a href={{ url_for('list_output', jolly='tbd', returnpage='_datae.html') }}>TBD</a></li>
                <li><a href={{ url_for('list_output', jolly='tbd', returnpage='_datae.html') }}>TBD</a></li>
                <li role="separator" class="divider"></li>
                <li><a href={{ url_for('list_output', jolly='tbd', returnpage='_datae.html') }}>TBD</a></li>
                <li><a href={{ url_for('list_output', jolly='tbd', returnpage='_datae.html') }}>TBD</a></li>
                <li><a href={{ url_for('list_output', jolly='tbd', returnpage='_datae.html') }}>TBD</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">API ( External)<span class="sr-only">(current)</span></a></li>
            <li><a href={{ url_for('show_log', key='show_log', returnpage='_datae.html') }}>Show Log</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Loading Files</a></li>
                <li><a href="#">Managing Sessions</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      {% block container %}{% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
