{% extends '_base.html' %}

{% block container %}

<h2>Select a file to upload</h2>
<div class="top-pad">
    <div class="well">
    <table class="table table-dark">
        <tr>
        <td>{{chapter1}}</td>
        </tr>
        <tr>
        <td>{{chapter2}}</td>
        </tr>
    </table>
    </div>
</div>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/loaddictionaries" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Upload dictionary file">
	</p>
</form>
{% endblock %}