{% extends rr %}
 
{% block container %}
  <table class="table table-dark">
      <thead class="thead-dark">
      <tr>
          <th scope="col">Column</th>
          <th scope="col">Type</th>
          <th scope="col">Prefix</th>
          <th scope="col">New Name</th>
          <th scope="col">Action</th>
      </tr>
      </thead>
      <form action = "http://localhost:5000/plots" method = "POST">
        <tr>
        <td colspan="3"><input type="submit" value="Show Plot"></td>
        </tr>
        {% for column, type in columns %}
        <tr>
        <td><a href="{{ url_for('detailmethod', mkey=your_list_element) }}">{{ column }}</a></td>
        <td>{{ type }}</td>
        <td>
          <select name="{{ column }}_select" width="300px">
          <option value="" SELECTED>Select action</option>
          <option value="hist|x">Histogram [X]</option>
          <option value="hist|y">Histogram [Y]</option>
          <option value="scatter|x">Scatter [X]</option>
          <option value="scatter|y">Scatter [Y]</option>
          <option value="box|x">Box [X]</option>
          <option value="box|y">Box [Y]</option>
          </select>
        </td>
        </tr>
       {% endfor %}
       <input type="hidden" name="returnpage_layout" value={{ rr }}>
      </form>
      </table>
{% endblock %}
