{% extends rr %}
 
{% block container %}
    <div class="top-pad">
        <div class="well">
            <table>
                <tr>
                <th>###</th>
                <th>Column Name</th>
                <th>Action</th>
                </tr>
                {% for pipeline_detail in pipelines %}
                    <tr>
                    <td><input type="checkbox" name={{ pipeline_detail["colname"]}}_check ></td>
                    <td>{{ pipeline_detail["colname"]}}</td>
                    <td>{{ pipeline_detail["action"]}}</td>
                    </tr>
                {% endfor %}
                <form action = "http://localhost:5000/updatepipeline" method = "POST">
                <tr><td colspan="3"><hr></tr>
                <tr>
                <td>###</td>
                <td>
                Pipeline Name : <input type="text" name="pipelinename">
                </td>
                </tr>
                <tr>

                <td colspan="3">
                <input type="hidden" name="returnpage" value={{rr}}>
                <input type="hidden" name="mtype" value={{stuff["mtype"]}}>
                <input type="submit" value="Run the Pipeline">
                </tr>
                </form>
            </table>
        </div>
    </div>
{% endblock %}
