{% extends rr %}
 
{% block container %}
    <div class="top-pad">
        <div class="well">
            <table class="table table-condensed">
                <tr>
                <th>###</th>
                <th>Column Name</th>
                <th>Action</th>
                <th>Param for Action</th>
                </tr>
                {% for pipeline_detail in pipelines %}
                    <tr>
                    <td><input type="checkbox" name={{ pipeline_detail["colname"]}}_check ></td>
                    <td>{{ pipeline_detail["colname"]}}</td>
                    <td>{{ pipeline_detail["action"]}}</td>
                    {%if pipeline_detail["action"]=="dummies" %}
                    <td> <input type="text" name="{{ pipeline_detail["colname"]}}_prefix" ></td>       
                    {% endif %}
                    {%if pipeline_detail["action"]=="map" %}
                    <td> 
                        <select name="dictionary" width="300px">   
                        <option value="" SELECTED>Select dictionary</option>
                        </select>                 
                    </td>       
                    {% endif %}
                    </tr>
                {% endfor %}
                <form action = "http://localhost:5000/updatepipeline" method = "POST">
                <tr><td colspan="3"><hr></tr>
                <tr>
                <td>###</td>
                <td>
                Colnames : 
                 <select name="colname" width="300px">
                {% for colname, typecol in zip( stuff["colnames"], stuff["dtypes"] ) %}
                    <option value={{colname}} SELECTED>{{colname}} - {{typecol}}</option>
                {% endfor %}
                </select>
                </td>
                <td>
                Action : 
                 <select name="action" width="300px">
                {% for action in stuff["actions"] %}
                    <option value={{action["name"]}} SELECTED>{{action["value"]}}</option>
                {% endfor %}
                </select>
                </td>
                </tr>
                <tr>

                <td colspan="3">
                <input type="hidden" name="returnpage" value={{rr}}>
                <input type="hidden" name="mtype" value={{stuff["mtype"]}}>
                <input type="submit" value="Insert new Element in Pipeline">
                </tr>
                </form>
            </table>
        </div>
    </div>
{% endblock %}
