{% extends '_base.html' %}

{% block container %}

<h2>Select a file to upload ( multiple allowed )</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/upload" enctype="multipart/form-data">
	{% for your_list_element in dir_list %}
	<input type="checkbox" name="directoryselect" value={{ your_list_element }}>{{ your_list_element }}</input></br>
    {% endfor %}
	<dl>
		<p>
			<input type="file" name="file[]" multiple='' autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Upload file/s">
	</p>
</form>
{% endblock %}